@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #9b989870;
}

.gameboyIcon {
    width: 40px;
}

.nav-item .nav-link {
    color: orange;
}

h1 {
    text-align: right;
}

.gridContainer {
    display: flex;
}

a {
    padding: 15px;
}

form {
    text-align: center;
    margin: 20px;
}

.button {
    padding: 9px;
    width: 120px;
    margin: 20px;
    background: #9b989870;
    border: none;
    border-radius: 25px;
}

#burgerMenu {
    width: 300px;
}